#nav-menu{
    width: 25%;
    display: flex;
    justify-content: space-evenly;
}

.option-menu {
    text-decoration: none;
    font-size: 22px;
}

.option-menu:hover {
    -webkit-text-stroke: thin;
}
